* { box-sizing: border-box;}
body {
    margin: 0;
    
    max-width: 100vw;
    min-height: 100vh;

    display: grid;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(to bottom left, green, aqua);

    font-family: 'Courier New', Courier, monospace;
}
.calculator {
    padding: 2em;
    width: min(600px, 100%);
    border-radius: 1em;
    border: 3px solid black;
    background-color: #cdcdcd;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1em;
}
#app-name {
    grid-column: 1/-1;
    margin: 0;
    font-weight: 900;
}
#display {
    grid-column: 1/-1;
    border: 3px solid black;
    padding: 0.5em;
    margin: 0;
    background-color: #fefefe;

    text-align: right;
    font-size: 1.5em;
}
.square, .tall {
    cursor: pointer;
    border-radius: 5px;
    background-color: gray;
    color: white;
    font-size: 1.5em;
    font-weight: 700;
}
.tall { grid-row: span 2;}
.number { background-color: black;}
.AC { background-color: red;}
.square:hover, 
.tall:hover {
    background-color: #fefefe;
    color: #131313;
}
.AC:hover { color: red;}

@media screen and (min-width: 768px) {
    #display { 
        padding: 0.5em;
        font-size: 2em;
    }
    .square, .tall { font-size: 2em;}
}